<h1>All Notes</h1>
        <!-- <p> Html page send with key and value </p> -->
        <% arr.map((item, index)=>{ %>
            <h2> Note <%= index+1 %>: <%= item.title %>  </h2>
            <% if(item.body.length < 40){   %>
                <p> <%= item.body %> </p>
            <% } else { %>
                <p> <%= item.body.substring(0, 40) %>... <a href="/notes/<%= index %>">Read more</a> </p>
            <% } %>
        <% })  %>

        <div style="margin: 10px;">
            <a href="/">
                <button type="button" style="width: 100px; height: 50px;"> Go to Home </button>
            </a>
        </div>
        <div style="margin: 10px;">
            <a href="/createNote">
                <button type="button" style="width: 100px; height: 50px;"> Add Note </button>
            </a>
        </div>